@import "../variables";

.CookieConsent{
	// Toggle variables
	$toggleHeight: 32px;
	$toggleColorOff: hsl(0, 0%, 80%);
	$toggleColorOn: hsl(120, 40%, 40%);
	$toggleBorderWidth: 2px;
	$toggleDuration: .2s;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(3px);
	&__window{
		max-width: 500px;
		max-height: 400px;
		min-width: 300px;
		min-height: 300px;
		margin: 1em;
		box-sizing: border-box;
		background-color: $backgroundColor;
		border-radius: 5px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.5);
	}
	&__header{
		background-color: $primaryColor;
		color: $backgroundColor;
		padding: 1em;
	}
	&__title{
		margin: 0;
	}
	&__content{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__table{
		padding: 1em;
		tr td p{
			font-size: 0.8em;
		}
		tr td:first-of-type{
			width: 25%;
			min-width: $toggleHeight * 3;
			text-align: center;
		}
	}
	&__buttons{
		display: flex;
		justify-content: flex-end;
	}
	&__button{
		border: none;
		background-color: lightgray;
		padding: .9em 1em;
		min-width: 140px;
		transition: filter $toggleDuration;
		&:first-of-type{
			border-top-left-radius: 15px;
		}
		&:hover{
			filter: brightness(110%);
		}
		&--highlight{
			color: $backgroundColor;
			background-color: $toggleColorOn;
		}
	}
	// Toggle
	&__input{
		visibility: hidden;
		width: 1px;
		height: 1px;
		display: none;
		&:focus + .CookieConsent__toggle{
			outline: 2px solid red;
		}
		&:checked + .CookieConsent__toggle{
			background-color: $toggleColorOn;
		}
		&:checked + .CookieConsent__toggle::after{
			transform: translateX($toggleHeight);
		}
		&:checked + .CookieConsent__toggle:hover{
			border: $toggleBorderWidth solid darken($toggleColorOn, 10);
		}
		&:disabled + .CookieConsent__toggle{
			opacity: 0.5;
			transition: border $toggleDuration;
		}
		&:disabled + .CookieConsent__toggle:hover{
			border: $toggleBorderWidth solid transparent;
		}
	}
	&__toggle{
		display: inline-block;
		width: $toggleHeight * 2;
		height: $toggleHeight;
		border-radius: $toggleHeight / 2 + $toggleBorderWidth;
		background-color: $toggleColorOff;
		border: $toggleBorderWidth solid transparent;
		transition: background-color $toggleDuration, border $toggleDuration;
		&::after{
			content: "";
			display: block;
			width: $toggleHeight;
			height: $toggleHeight;
			border-radius: 50%;
			background-color: $backgroundColor;
			box-sizing: border-box;
			transition: transform $toggleDuration;
		}
		&:hover{
			border: $toggleBorderWidth solid darken($toggleColorOff, 10);
		}
	}
}